
.imgM42{
    margin: 1.5rem 0.75rem;
    background-color: #efeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1.5rem 0;
    padding-top: 0;
}

.ImagenContainer .containerNav{
    display: flex;
    flex-direction: row;
}

.ImagenContainer .goBack{
    background-color: #efeeee;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 16px;
  transition: all 0.2s ease-in-out;
  width: 9rem;
  margin-top: 1rem;
}

.ImagenContainer .goBack:hover {
    background-color: #97161a;
    border-color: #fff;
  }
  
.ImagenContainer .contenedorBoton{
    display: flex;
    justify-content: right;
    margin: 2rem 1.5rem 1rem -2rem;
}

.imgM42 .titulo{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 1.75rem;
    font-family: 'Montserrat', sans-serif;
}

.imgM42 .texto{
    margin: 0.75rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.imgM42 .botonm42{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #97161a;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    margin-top: 2rem;
}

.imgM42 a{
    color: #fff;
}

.imgM42 a:hover{
    color: #fff;
}