
.imgM42 .goBack{
    background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  width: 9rem;
}

.imgM42 .goBack:hover {
    background-color: #a98b30;
    border-color: #fff;
  }
  
.imgM42 .contenedorBoton{
    display: flex;
    justify-content: right;
    margin: 2rem 1.5rem 1rem -2rem;
}
.imgM42 .titulo{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.imgM42 .texto{
    margin: 0.75rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.imgM42 .botonm42{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #a98b30;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 1rem 5rem;
    margin-top: 2rem;
}

.imgM42 a{
    color: #fff;
}

.imgM42 a:hover{
    color: #fff;
}