.galeria{
    margin: 1.5rem 0.5rem;
    background-color: #efeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1.5rem 0;
}

.galeria .titulo{
    text-align: center;
    margin: 1rem;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.galeria .descripcion{
    margin: 0rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.galeria .container{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 2rem;
}

.galeria .video{
    padding: 2rem 0;
}

.galeria .video:last-child{
    padding-bottom: 0;
}