.galeria .titulo{
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.galeria .descripcion{
    font-weight: 600;
    margin: 0rem 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}