.carreras{
    margin-top: 5vh;
}

.carreras a{
    color: #fff;
    text-decoration: none;
}

.carreras .container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 3%;
    width: 90vw;
    padding: 1.75rem;
    margin-bottom: 1.5rem;
    background-color: #efeeee;
}

.carreras .titulo{
    text-align: center;
    font-size: 10vw;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.carreras .carrerasimg{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60vw;
    margin: auto;
}

.carreras .texto{
    text-align: center;
    padding: 1rem 0;
}

.carreras .botonm42{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #a98b30;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.carreras .botondesafio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #a0bf09;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.carreras .botonm42 a:hover,
.carreras .botondesafio a:hover{
    color: #fff;
}


@media (min-width: 768px){
    .carreras .titulo{
        text-align: center;
        font-size: 7vw;
        font-weight: 900;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .carreras .carrerasimg{
        width: 40vw;
    }
}

@media (min-width: 1024px){

    .carreras .titulo{
        font-size: 6vw;
    }

    .carreras .articulos{
        display: flex;
        justify-content: center;
    }

    .carreras .carrerasimg{
        width: 20vw;
    }

    .carreras .container{
        width: 40vw;
    }
}

@media (min-width: 1440px){
    .carreras .titulo{
        font-size: 4vw;
    } 
}