.carreras{
    margin-top: 5vh;
}

.carreras .container{
    border: 3px solid red;
    
}

.carreras .titulo{
    text-align: center;
    font-size: 10vw;
    font-weight: 900;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.carrerasimg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
}

.carreras .texto{
    text-align: center;
    padding: 1rem 0;
}

.carreras .botonm42{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #a98b30;
    color: #fff;
    border: none;
}

.carreras .botondesafio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #a0bf09;
    color: #fff;
    border: none;
}
