.footer{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.75rem;
    margin-top: 3.5rem;
    background-color: #efeeee;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.subcontainer{
    display: flex;
    justify-content: space-around;
}

.footer .listado{
    text-decoration: none;
    list-style: none;
    color: black;
}

.footer a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.footer a:hover{
    font-weight: 900;
}

@media (min-width: 768px){
 
   .footer .container{
        display: flex;
        justify-content: space-around;
    }

    .seguinos{
        display: none;
    }


}