.contacto{
    margin: 1.5rem 0.5rem;
    background-color: #efeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1.5rem 0;
}

.contacto .titulo{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
    margin-top: 0.5rem;
    font-size: 2.5rem;
}

.contacto .titulo{
    font-size: 2rem;
}

.contacto .texto{
    margin: 1rem;
}

.contacto b{
    text-decoration: underline;
}

.contacto .social-media-icons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.contacto .yt{
    color: red;
}

.contacto .fb{
    color: #1877f2;
}

.contacto .ig{
    color: #833AB4;
}