.Alecec{
    margin: 1.5rem 0.75rem;
    background-color: #efeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1.5rem 0;
}

.Alecec .flyer{
    width: 90vw;
    display: flex;
    margin: auto;
    border-radius: 3%;
}

.Alecec .titulo{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.Alecec .descripcion{
    font-weight: 600;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.Alecec .botones{
    display: flex;
    flex-direction: column;
    margin: 2rem 6rem;
    color: white;
    text-decoration: none;
}

.Alecec .boton{
    margin: 0.5rem 0;
    padding: 0.8rem 0;
    background-color: #a0bf09;
    color: white;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}

.Alecec .boton a{
    color: white;
}

.Alecec h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 1.8rem 3.3rem;
    color: #fd0081;
}

.Alecec h4{
        margin: 1rem 2.5rem;
        font-size: 1.6rem;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        color: black;
    }

.Alecec p{
    margin: 1rem;
}

.Alecec .categorias{
    margin: 2rem 0;
}

.Alecec .categorias .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin: 2rem 0;
    border-radius: 3%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #efeeee;
}

.Alecec .categorias .container .imgResultados{
    width: 50vw;
}

.Alecec .botonResultados{
    background-color: #fd0081;
    border: none;
    margin: 1.5rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.Alecec .botonResultados a{
    color: #fff;
}


@media (min-width: 768px){
    .Alecec{
        margin: 3rem 2rem;
        border-radius: 15px;
        padding: 2rem 0;
    }

    .Alecec .flyer{
        width: 80vw;
        display: flex;
        margin: auto;
        margin-top: 2rem;
    }

    .Alecec .titulo{
        margin: 1rem 2rem;
    }

    .Alecec .descripcion{
        margin: 2rem;
        font-size: 1.25rem;
    }

    .Alecec .botones{
        padding: 1rem 8rem;
    }

    .Alecec h3{
        font-size: 2.5rem;
        margin: 1.8rem 3.3rem;
    }
    
    .Alecec h4,
    .Alecec h5{
        margin: 1rem;
        font-size: 1.3rem;
    }

    .Alecec li,
    .Alecec p{
        font-size: 1.1rem;
    }
    
    .Alecec .mapas{
        width: 95vw;
        height: 50vh;
        margin: 2rem auto;
    }
    
}

@media (min-width: 1024px){
    .Alecec{
        width: 85vw;
        display: flex;
        flex-direction: column;
        margin: 5rem auto;
    }

    .Alecec .flyer{
        width: 40vw;
        border-radius: 3%;
        margin-top: 2rem;
    }

    .Alecec .titulo{
        margin: 1rem 2rem;
    }

    .Alecec .descripcion{
        margin: 0 5rem;
        margin-top: 2rem;
        font-size: 1.25rem;
    }

    .Alecec .botones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        margin: 2rem 4rem;
    }

    .Alecec .boton{
        padding: 1rem 2rem;
        margin: 0.25rem;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Alecec h3{
        font-size: 3rem;
    }
    
    .Alecec h4,
    .Alecec h5{
        margin: 1rem 2.5rem;
        font-size: 1.6rem;
    }

    .Alecec li,
    .Alecec p{
        font-size: 1.25rem;
        margin: 1rem 2.5rem;
    }
    
}

@media (min-width: 1440px){
    .Alecec{
        width: 73vw;
    }

    .Alecec .flyer{
        width: 30vw;
        border-radius: 3%;
        margin-top: 2rem;
    }

    .Alecec .titulo{
       font-size: 4rem;
    }

    .Alecec .descripcion{
        margin: 0 10rem;
        margin-top: 2rem;
        font-size: 1.35rem;
    }

  /*   .Alecec .botones{
        padding: 1rem 20rem;
    } */

    .Alecec h3{
        font-size: 4rem;
    }
    
    .Alecec h4,
    .Alecec h5{
        margin: 1rem 5rem;
        font-size: 1.9rem;
    }

    .Alecec li,
    .Alecec p{
        font-size: 1.25rem;
        margin: 1rem 5rem;
    }
}