/* footer {
    background-color: #f2f2f2;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    flex-basis: 300px;
    margin-bottom: 20px;
  }
  
  .footer-logo h2 {
    color: #f1b111;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .contact i {
    color: #f1b111;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .footer-social {
    flex-basis: 200px;
    margin-bottom: 20px;
  }
  
  .footer-social h2 {
    color: #f1b111;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    display: inline-block;
    background-color: #f1b111;
    color: #fff;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .footer-nav {
    flex-basis: 300px;
    margin-bottom: 20px;
  }
  
  .footer-nav h2 {
    color: #f1b111;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
 */