.carreras{
    margin-top: 5vh;
}

.carreras a{
    color: #fff;
    text-decoration: none;
}

.carreras .container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 3%;
    width: 90vw;
    padding: 1.75rem;
    margin-bottom: 1.5rem;
    background-color: #efeeee;
}

.carreras .titulo{
    text-align: center;
    font-size: 10vw;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.carreras .carrerasimg{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60vw;
    margin: auto;
}

.carreras .texto{
    text-align: center;
    padding: 1rem 0;
}

.carreras .botonm42,
.carreras .botondesafio,
.carreras .botonAlecec,
.carreras .botonCircuito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
    border: none;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.carreras .botonm42{
    background-color: #a98b30;
}

.carreras .botondesafio{
    background-color: #a0bf09;
}

.carreras .botonAlecec{
    background-color: #fd0081;
}

.carreras .botonCircuito{
    background-color: #69bfd5;
}

.carreras .botonm42 a:hover,
.carreras .botondesafio a:hover,
.carreras .botonAlecec a:hover,
.carreras .botonCircuito a:hover{
    color: #fff;
}


@media (min-width: 768px){
    .carreras .titulo{
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        margin: 2rem;      
    }
    
    .carreras{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }

    .carreras .containerGeneral{
        display: flex;
        flex-wrap: wrap;
    }

    .carreras .container{
        width: 45vw;
    }

    .carreras .carrerasimg{
        width: 12rem;
    }

    .carreras .texto{
        font-size: 1.25rem;
        font-family: 'Montserrat', sans-serif;
    }
}

@media (min-width: 1024px){

    .carreras{
        margin: auto;
        width: 100vw;
    }

    .carreras .containerGeneral{
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
        width: 100vw;
    }


    .carreras .titulo{
        font-size: 4rem;
    }

    .carreras .carrerasimg{
        width: 17rem;
    }

    .carreras .container{
        width: 40vw;
        padding: 1rem;
        margin: 1rem 3rem;
    }

    .carreras .botonm42,
.carreras .botondesafio,
.carreras .botonAlecec,
.carreras .botonCircuito{
    margin: 0rem auto 1rem;

}
}

@media (min-width: 1440px){

    .carreras .container{
        width: 30vw;
    }
}