.m42{
    margin: 1.5rem 0.75rem;
    background-color: #efeeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 1.5rem 0;
}

.m42 .flyer{
    width: 90vw;
    display: flex;
    margin: auto;
    border-radius: 3%;
}

.m42 .titulo{
    text-align: center;
    font-size: 2.5rem;
    margin: 0 0.65rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.m42 .descripcion{
    font-weight: 600;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.m42 .botones{
    display: flex;
    flex-direction: column;
    margin: 2rem 6rem;
    color: white;
    text-decoration: none;
}

.m42 .boton{
    margin: 0.5rem 0;
    padding: 0.8rem 0;
    background-color: #97161a;
    color: white;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
}

.m42 .boton a{
    color: white;
}

.m42 h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 1.8rem 1rem;
    color: #97161a;
}

.m42 h4,
.m42 h5{
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.m42 mark{
    background-color: #97161a;
    color: #fff;
}

.m42 ul{
    margin: 0rem;
}

.m42 li{
    margin: 0.6rem 0;
}

.m42 p{
    margin: 1rem;
}

.m42 .img{
    width: 85vw;
    display: flex;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.m42 .mapas{
    width: 95vw;
    height: 50vh;
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    border-radius: 5%;
}