.carousel-indicators [data-bs-target]{
    display: none;
}

@media (min-widt: 1024px){
    /* .carousel-inner{
        display: none;
    } */

}

@media (min-width: 1440px){
    .carrusel{
       display: none;
    }
}